main {
    background-color: $secondary-color;
}

.aquarela {
    padding: 3rem 5rem 3rem 2rem;

    h2 {
        font-size: 2rem;
    }

    p {
        color: $black;
        margin-top: 1rem;
        font-size: 1.15rem;
    }
}

.cards {
    .card {
        display: flex;
        justify-content: center;
        img {
            width: 50%;
            padding: 1rem;
            margin-bottom: 1rem;
        }
    }
}

.text {
    h3 {
        color: $black;
        text-align: center;
        font-weight: 700;
        padding-bottom: 2rem;
    }
}

footer {
    background-color: $primary-color;
    padding: 2rem;

    .footer-section {
        display: flex;
        justify-content: space-between;

        .icons {
            display: flex;
            gap: 1rem;
            font-size: 2rem;
            transition: .2s;
        }

        .nav-footer {
            ul {
                display: flex;
                gap: 3rem;

                li {
                    font-size: 1.2rem;
                    font-weight: 600;
                    transition: .2s;
                }
            }
        }

        .icons i:hover {
            transform: scale(1.1);
        }

        .nav-footer li:hover {
            transform: scale(1.1);
            color: $secondary-color;
            font-weight: 800;
        
        }
    }
}